<mat-sidenav-container class="sidenav-container">
  <div style="color: rgb(255, 0, 0)"></div>
  <mat-sidenav
    style="background-color: #ffffff"
    #sidenav
    mode="side"
    [opened]="isSidenavOpen"
  >
    <img
      style="width: 8vw; padding: 1vw"
      src="https://wiki.st.com/stm32mcu/nsfr_img_auth.php/d/d2/Education_dark_blue.png"
    />
    <mat-nav-list>
      <a
        style="font-weight: 500; color: rgb(0, 85, 255); margin-left: 40px"
        mat-list-item
        routerLink="/home"
        >Home</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div
      style="
        background-color: #ffffff;
        min-height: 100vh;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        margin-bottom: 20px;
      "
    >
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon style="font-size: 2vw">menu</mat-icon>
      </button>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
