<mat-dialog-content>
  <div class="elevation">
    <h1 style="padding: 10px; font-weight: 600; color: rgb(255, 255, 255)">
      {{ id ? "EDIT FORM" : "ADD FORM" }}
    </h1>
  </div>

  <form [formGroup]="mentorForm" (ngSubmit)="onSubmit()">
    <div class="form-container">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email" />
        <mat-error *ngIf="mentorForm.get('email').hasError('required')"
          >Email is required</mat-error
        >
        <mat-error *ngIf="mentorForm.get('email').hasError('email')"
          >Email Format is Wrong</mat-error
        >
      </mat-form-field>

      <mat-radio-group
        formControlName="civility"
        style="margin-bottom: 10px; color: rgb(250, 250, 250)"
      >
        <mat-label>Civility</mat-label>

        <mat-radio-button value="MR">MR</mat-radio-button>
        <mat-radio-button value="MRS">MRS</mat-radio-button>

        <mat-error
          *ngIf="
            mentorForm.get('civility').invalid &&
            (mentorForm.get('civility').dirty ||
              mentorForm.get('civility').touched)
          "
        >
          Civility is required
        </mat-error>
      </mat-radio-group>

      <mat-form-field appearance="fill">
        <mat-label>Select Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            mentorForm.get('gender').invalid && mentorForm.get('gender').touched
          "
        >
          Please select a gender
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput formControlName="first_name" placeholder="First Name" />
        <mat-error *ngIf="mentorForm.get('first_name').hasError('required')"
          >First Name is required</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="last_name" placeholder="Last Name" />
        <mat-error *ngIf="mentorForm.get('last_name').hasError('required')"
          >Last Name is required</mat-error
        >
      </mat-form-field>

      <div formGroupName="company" class="company-group">
        <mat-form-field class="company">
          <mat-label>Company Name</mat-label>
          <input matInput formControlName="name" placeholder="Company Name" />
          <mat-error *ngIf="mentorForm.get('company.name').hasError('required')"
            >Company Name is required</mat-error
          >
        </mat-form-field>

        <mat-form-field class="usertype">
          <mat-label>User Type</mat-label>
          <input matInput formControlName="user_type" placeholder="User Type" />
          <mat-error
            *ngIf="mentorForm.get('company.user_type').hasError('required')"
            >User Type is required</mat-error
          >
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>User Status</mat-label>
        <mat-select formControlName="user_status" placeholder="User Status">
          <mat-option value="active">Active</mat-option>
          <mat-option value="pending">Pending</mat-option>
        </mat-select>
        <mat-error *ngIf="mentorForm.get('user_status').hasError('required')"
          >User Status is required</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Born Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="birthdate"
          placeholder="birthdate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error
          *ngIf="
            mentorForm.get('birthdate').invalid &&
            mentorForm.get('birthdate').touched
          "
        >
          Birthdate is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Count Document</mat-label>
        <input
          matInput
          formControlName="count_document"
          placeholder="Count Document"
        />
        <mat-error *ngIf="mentorForm.get('count_document').hasError('required')"
          >Count Document is required</mat-error
        >
      </mat-form-field>

      <button
        style="width: 100px"
        mat-raised-button
        color="primary"
        type="submit"
      >
        Submit
      </button>
    </div>
  </form>
</mat-dialog-content>
