<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap"
  rel="stylesheet"
/>

<nav>
  <img
    class="logo"
    src="assets/img/logo.png"
    alt=""
    srcset=""
    style="width: 40px; height: 40px; position: absolute; top: 15px; left: 10px"
  />
  <div class="home">Home</div>
  <div (click)="goToPlayer()" class="player">Player</div>
</nav>
<div class="full-container">
  <div class="image">
    <img
      src="assets/img/Landing.jpg"
      alt=""
      srcset=""
      style="object-fit: cover; position: relative; width: 100%"
    />
  </div>
</div>
